{% extends "src/layouts/base.html" %}

{% block content %}
<!-- <h1>Khandelwal Trading Co.</h1> -->
{% for chunk in data|batch(7, '') %}
<table>
    <thead>
        <tr>
            <th>S.no</th>
            <th>Image</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Power</th>
            <th>Capacity</th>
            <th>Service</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {% for item in chunk %}
            {% if item %}  <!-- Only create row if item exists -->
            <tr>
                <td>{{ item.sno }}</td>
                <td>
                    {% set image_path = 'src/layouts/photos/items/' + item.SKU|string|replace(' ', '') + '.jpg' %}
                    {% if image_path|file_exists %}
                        <img src="{{ image_path }}" style="width: 100px; height: auto;">
                   </td> {% else %}
                        <div style='width:100px;height:100px;background:white;color:black;display:flex;align-items:center;justify-content:center;font-size:12px;'>
                            IMAGE N/A
                        </div>
                    {% endif %}
                </td>
                <td>
                    <img src="{{ 'src/layouts/photos/brands/' + item.Brand|string|replace(' ', '') + '.png' }}" 
                         alt="{{ item.Brand }}" 
                         style="width: 50px; height: auto;">
                </td>
                <td>{{ item["SKU"] }}</td>
             </td>   <td>{{ item.Power }}</td>
                <td>{{ item.Capacity }}</td>
                {% set service_style = '' %}
                {% if item.Service == 'Very High' %}
                    {% set service_style = 'color: #00B341; background-color: #E6FFE6;' %}
                {% elif item.Service == 'High' %}
                    {% set service_style = 'color: #FFB800; background-color: #FFF9E6;' %}
                {% elif item.Service == 'Medium' %}
                    {% set service_style = 'color: #FF6B00; background-color: #FFF1E6;' %}
                {% else %}
                    {% set service_style = 'color: #FF0000; background-color: #FFE6E6;' %}
                {% endif %}
                <td style="{{ service_style }}">{{ item.Service }}</td>
                <td>&#8377; {{ item.Price }}</td>
            </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
<div style="page-break-after: always;"></div>
{% endfor %}
{% endblock %}